
<div style="font-weight:900; background-color: #28354a; color:#FFFFFF; font-size:18px; padding-top:4px; padding-bottom:4px; text-align:center; ">
	RECOVER YOUR ACCOUNT OTP
</div>

<div style="padding:10px;">
	<form name="otp_retrieve_form">

	<div class="form-group">
		<div class="col-sm-12">
			<input ng-model="form_data.get_otp_retrieve_login" type="text" value="" name="get_otp_retrieve_login" class="form-control" placeholder="Login">
		</div>
		<div class="col-sm-12" style="padding-top:5px;">
			We will send your OTP to your registered email.
		</div>
	</div>


	<div class="flex_container" style="padding-top:20px; width:100%;">
		<div style="width:370px;">
			<div class="col-sm-6">
				<button ng-click="get_my_otp_click(otp_retrieve_form)" class="btn btn-primary">GET MY OTP</button>
			</div>
			<div class="col-sm-6">
				<button ng-click="goto_login_click()" class="btn btn-primary">GOTO LOGIN</button>
			</div>
		</div>
	</div>
	</form>
</div>
