

<style>
	td {
		padding-left: 20px;
	}
</style>


<script>

app.controller('UpdateController', ['$scope', '$http', '$window','$timeout', 'ngDialog', function($scope, $http, $window, $timeout, ngDialog) {

	var current_location = String($window.location);

	var arr_split = [];
	var arr_split = current_location.split("/");

	var param_value = "";

	var vm = this;

	vm.t = [];

	vm.t.arr_status_options = [];
	
	param_value = arr_split[arr_split.length-1];
	if (param_value == "") {
		param_value = arr_split[arr_split.length-2];
	}

	vm.t.id = param_value;
	

	$scope.is_add = false;
	$http({
	    method: 'GET',
	    url: '/platform/dailytasks/get/' + vm.t.id,
		data: { }
	}).success(function (result) {
		if (result.is_success) {
			vm.t.data = result.data;
			//vm.t.old_data = result.data.slice();
			vm.t.old_data = jQuery.extend({}, result.data);
			//alert(result.data);
		}
	});

	vm.submit = function() {
		vm.t.is_submit_error_message = false;
		vm.t.is_submit_success_message = false;
		$http({
		    method: 'POST',
		    url: '/platform/dailytasks/save/' + vm.t.id,
			data: { data: vm.t.data, old_data:vm.t.old_data }
		}).success(function (result) {
			if (result.is_success) {
				vm.t.is_submit_success_message = true;
				//alert('in here');
			} else {
				vm.t.is_submit_error_message = true;
			}
		});
	};

}]);

</script>



<div ng-controller="UpdateController as update_ctrl" >
	<div class="page-title-header">
		<div ng-show="vm.t.id == 0">
			Add Daily Task
		</div>
		<div ng-show="vm.t.id > 0">
			Edit Daily Task: {{update_ctrl.t.title}}
		</div>
	</div>
	<div class="flex_container">
		<div class="col-xs-12 col-ms-9 col-sm-9" style="max-width:600px;">
			<form name="update_form" novalidate>
				<div ng-show="update_ctrl.t.is_submit_error_message" style="" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Unable to Update Daily Task
				</div>
				<div ng-show="update_ctrl.t.is_submit_success_message" style="" class="alert alert-success" role="alert">
					Updated Daily Task
				</div>
				<div class="col-xs-12">
					<div style="padding-bottom:20px;">Update Information Below</div>
				</div>
				<div style="clear:both;"></div>
				<div class="col-xs-12 col-ms-6 col-sm-6">
					<div class="form-group">
						<label class="form-label">Title</label>
						<input ng-class="{field_error:(!update_form.title.$valid && update_form.title.$dirty)}" ng-model="update_ctrl.t.data.title" name="fullname" type="text" class="form-control" placeholder="Enter A Title" required>
						<div style="color:red; font-weight:bold" ng-messages="update_form.title.$error" ng-if="update_form.title.$dirty">
						    <div ng-message="required">Required</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-ms-6 col-sm-6">
					<div class="form-group">
						<label class="form-label"> Short Description</label>
						<input ng-class="{field_error:(!update_form.title.$valid && update_form.title.$dirty)}" ng-model="update_ctrl.t.data.description" name="fullname" type="text" class="form-control" placeholder="Description" required>
						<div style="color:red; font-weight:bold" ng-messages="update_form.title.$error" ng-if="update_form.title.$dirty">
						    <div ng-message="required">Required</div>
						</div>
					</div>
				</div>
				<div style="clear:both;"></div>
				<div class="col-xs-12 col-ms-6 col-sm-6">
					<div class="form-group">
						<label class="form-label">External URL</label>
						<input ng-class="{field_error:(!update_form.external_url.$valid && update_form.external_url.$dirty)}" ng-model="update_ctrl.t.data.external_url" name="external_url" type="text" class="form-control" placeholder="External URL" required>
						<div style="color:red; font-weight:bold" ng-messages="update_form.external_url.$error" ng-if="update_form.external_url.$dirty">
						    <div ng-message="required">Required</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-ms-6 col-sm-6">
				</div>
				<div class="col-xs-12 col-ms-12 col-sm-12">
					<div class="form-group">
						<label class="form-label">Long Description</label>
						<textarea class="form-control" rows="3" ng-class="{field_error:(!update_form.long_description.$valid && update_form.long_description.$dirty)}" ng-model="update_ctrl.t.data.long_description" placeholder="Enter Your Reason Here" ></textarea>

						<div style="color:red; font-weight:bold" ng-messages="update_form.long_description.$error" ng-if="update_form.title.$dirty">
						    <div ng-message="required">Required</div>
						</div>
					</div>
				</div>
				<div style="clear:both;"></div>
				<div style="padding-bottom:10px;">
					<div class="col-xs-12">
						<div class="form-group" style="">
							<div style="float:left;">
								<button ng-click="update_ctrl.submit()" class="btn btn-primary">SUBMIT</button>
							</div>
							<div style="float:left; padding-left:5px;">
								<a href="/platform/dailytasks/manage/"><input type="button" value="CANCEL" class="btn btn-default"></a>
							</div>
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

